Marcjanna Bąkowska, 409461
Ćwiczenie 3 Łączenie z bazą danych i instrukcja select

In [25]:
from sqlalchemy import create_engine
import psycopg2 as pg
import pandas as pd

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

db = create_engine(db_string)

connection_sqlalchemy = db.connect()

In [26]:
# result_set = db.execute("SELECT * FROM category")  
# for r in result_set:  
#     print(r)

#1 odpowiedz: 16
df = pd.read_sql('select * from category',con=connection)
print(df)

    category_id         name         last_update
0             1       Action 2006-02-15 09:46:27
1             2    Animation 2006-02-15 09:46:27
2             3     Children 2006-02-15 09:46:27
3             4     Classics 2006-02-15 09:46:27
4             5       Comedy 2006-02-15 09:46:27
5             6  Documentary 2006-02-15 09:46:27
6             7        Drama 2006-02-15 09:46:27
7             8       Family 2006-02-15 09:46:27
8             9      Foreign 2006-02-15 09:46:27
9            10        Games 2006-02-15 09:46:27
10           11       Horror 2006-02-15 09:46:27
11           12        Music 2006-02-15 09:46:27
12           13          New 2006-02-15 09:46:27
13           14       Sci-Fi 2006-02-15 09:46:27
14           15       Sports 2006-02-15 09:46:27
15           16       Travel 2006-02-15 09:46:27

In [27]:
#2
df = pd.read_sql('select * from category order by category asc',con=connection)
print(df)

    category_id         name         last_update
0             1       Action 2006-02-15 09:46:27
1             2    Animation 2006-02-15 09:46:27
2             3     Children 2006-02-15 09:46:27
3             4     Classics 2006-02-15 09:46:27
4             5       Comedy 2006-02-15 09:46:27
5             6  Documentary 2006-02-15 09:46:27
6             7        Drama 2006-02-15 09:46:27
7             8       Family 2006-02-15 09:46:27
8             9      Foreign 2006-02-15 09:46:27
9            10        Games 2006-02-15 09:46:27
10           11       Horror 2006-02-15 09:46:27
11           12        Music 2006-02-15 09:46:27
12           13          New 2006-02-15 09:46:27
13           14       Sci-Fi 2006-02-15 09:46:27
14           15       Sports 2006-02-15 09:46:27
15           16       Travel 2006-02-15 09:46:27

c:\Users\User\.conda\envs\marcysiab\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [28]:
#3 wszystkie filmy mają ten sam release year przez co nie można ich posegregować
df = pd.read_sql('select title, release_year from film order by release_year desc limit 1',con=connection)
print(df)
df = pd.read_sql('select title, release_year from film order by release_year asc limit 1',con=connection)
print(df)

             title  release_year
0  Chamber Italian          2006
             title  release_year
0  Chamber Italian          2006

c:\Users\User\.conda\envs\marcysiab\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\User\.conda\envs\marcysiab\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [29]:
#4 odp 6709
df = pd.read_sql("select count (rental_date) from rental where rental_date BETWEEN '2005-07-01' AND '2005-08-01'",con=connection)
print(df)

   count
0   6709

c:\Users\User\.conda\envs\marcysiab\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [30]:
#5 odp 0
df = pd.read_sql("select count (rental_date) from rental where rental_date BETWEEN '2010-01-01' AND '2011-02-01'",con=connection)
print(df)

   count
0      0

c:\Users\User\.conda\envs\marcysiab\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [31]:
#6 odp 11.99
df = pd.read_sql('select payment_id, amount, payment_date from payment order by amount desc limit 1',con=connection)
print(df)

c:\Users\User\.conda\envs\marcysiab\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   payment_id  amount               payment_date
0       20403   11.99 2007-03-21 21:57:24.996577

In [32]:
#7
df = pd.read_sql("select first_name, last_name, country from (((address INNER JOIN customer ON address.address_id = customer.address_id) INNER JOIN city ON address.city_id = city.city_id) INNER JOIN country ON city.country_id = country.country_id) where country = 'Poland' or country = 'Nigeria' or country = 'Bangladesh'",con=connection)
print(df)

   first_name  last_name     country
0       Sonia    Gregory     Nigeria
1       Brian      Wyman      Poland
2      Sidney   Burleson      Poland
3      Rodney    Moeller     Nigeria
4     Stephen     Qualls  Bangladesh
5       Velma      Lucas     Nigeria
6     Marilyn       Ross     Nigeria
7       Elsie     Kelley     Nigeria
8      Gladys   Hamilton     Nigeria
9       Frank   Waggoner  Bangladesh
10   Marjorie     Tucker      Poland
11      Carol     Garcia     Nigeria
12       Leah     Curtis      Poland
13      Ruben      Geary      Poland
14       Olga    Jimenez     Nigeria
15     Bertha   Ferguson     Nigeria
16     Tracey    Barrett     Nigeria
17         Jo     Fowler     Nigeria
18    Johnnie   Chisholm      Poland
19    Wallace      Slone     Nigeria
20   Michelle      Clark  Bangladesh
21    Russell    Brinson      Poland
22     Jimmie  Eggleston      Poland
23  Constance       Reid     Nigeria

c:\Users\User\.conda\envs\marcysiab\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [33]:
#8
df = pd.read_sql("select distinct city, country from (((address INNER JOIN staff ON address.address_id = staff.address_id) INNER JOIN city ON address.city_id = city.city_id) INNER JOIN country ON city.country_id = country.country_id)",con=connection)
print(df)

c:\Users\User\.conda\envs\marcysiab\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

         city    country
0  Lethbridge     Canada
1   Woodridge  Australia

In [34]:
#9
df = pd.read_sql("select count (country) from (((address INNER JOIN staff ON address.address_id = staff.address_id) INNER JOIN city ON address.city_id = city.city_id) INNER JOIN country ON city.country_id = country.country_id) where country = 'Spain' or country = 'Argentina'",con=connection)
print(df)

   count
0      0

c:\Users\User\.conda\envs\marcysiab\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [35]:
#10
df = pd.read_sql("select category.name, count(rental.rental_id) from category, film_category, film, inventory, rental where category.category_id = film_category.category_id and film_category.film_id = film.film_id and film.film_id = inventory.film_id and inventory.inventory_id = rental.inventory_id group by category.name",con=connection)
print(df)

c:\Users\User\.conda\envs\marcysiab\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

           name  count
0        Sports   1179
1      Classics    939
2           New    940
3        Family   1096
4        Comedy    941
5     Animation   1166
6        Travel    837
7         Music    830
8         Drama   1060
9        Horror    846
10       Sci-Fi   1101
11        Games    969
12  Documentary   1050
13      Foreign   1033
14       Action   1112
15     Children    945

In [36]:
#11
df = pd.read_sql("select category.name, count(rental.rental_id) from category, film_category, film, inventory, rental, customer, address, city, country where category.category_id = film_category.category_id and film_category.film_id = film.film_id and film.film_id = inventory.film_id and inventory.inventory_id = rental.inventory_id and rental.customer_id = customer.customer_id and customer.address_id = address.address_id and address.city_id = city.city_id and city.country_id = country.country_id and country like 'United States' group by category.name",con=connection)
print(df)

c:\Users\User\.conda\envs\marcysiab\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

           name  count
0        Sports     73
1      Classics     54
2           New     55
3        Family     66
4        Comedy     59
5     Animation     68
6        Travel     33
7         Music     51
8         Drama     69
9        Horror     62
10       Sci-Fi     62
11        Games     60
12  Documentary     74
13      Foreign     64
14       Action     62
15     Children     56

In [47]:
#12
df = pd.read_sql("select film.title, actor.first_name, actor.last_name from ((film INNER JOIN film_actor ON film.film_id = film_actor.film_id) INNER JOIN actor ON film_actor.actor_id = actor.actor_id)  where (actor.first_name = 'Olympia' and actor.last_name = 'Pfeiffer') or (actor.first_name = 'Julia' and actor.last_name = 'Zellweger') or (actor.first_name = 'Ellen' and actor.last_name = 'Presley')",con=connection)
print(df)

                title first_name  last_name
0     Bilko Anonymous      Ellen    Presley
1   Caribbean Liberty      Ellen    Presley
2    Casper Dragonfly      Ellen    Presley
3    Empire Malkovich      Ellen    Presley
4       Floats Garden      Ellen    Presley
..                ...        ...        ...
64       Outlaw Hanky      Julia  Zellweger
65    Panky Submarine      Julia  Zellweger
66   Rider Caddyshack      Julia  Zellweger
67          Won Dares      Julia  Zellweger
68      Wyoming Storm      Julia  Zellweger

[69 rows x 3 columns]

c:\Users\User\.conda\envs\marcysiab\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(